<?xml version="1.0" ?>
<robot name="AGV_simulator" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find AGV_simulator_description)/urdf/materials.xacro" />
<xacro:include filename="$(find AGV_simulator_description)/urdf/AGV_simulator.trans" />
<xacro:include filename="$(find AGV_simulator_description)/urdf/AGV_simulator.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="0.4399431637411925 0.28 0.1273944592853114" rpy="0 0 0"/>
    <mass value="978.9552453595437"/>
    <inertia ixx="29.928842" iyy="67.422804" izz="86.416886" ixy="0.0" iyz="0.0" ixz="0.007656"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find AGV_simulator_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find AGV_simulator_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

</robot>
